<!--
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
       xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
       xmlns:dc="http://purl.org/dc/elements/1.1/">
<rdf:Description
    rdf:about=""
    dc:title="<%=h @article.title.gsub(/-+/, '-') %>"
    dc:identifier="<%= @article.permalink_url %>"
    dc:description="<%=h (@article.html.strip_html[0..255]).gsub(/-+/, '-') %>"
    dc:creator="<%= h @article.author %>"
    dc:date="<%= @article.updated_at.xmlschema %>" />
</rdf:RDF>
-->

<div class="post">
  <%= link_to("edit", { :controller => "admin/content", :action => "edit", :id => @article.id },
        :class => "admintools", :style => "display: none", :id => "admin_article") %>
  <h2><%= @article.title %></h2>
  <p class="auth">Posted by <%= author_link(@article) %>
  <%= display_date_and_time @article.published_at %></p>
  <%= @article.html(:body) %>
</div>

<% if @article.allow_comments? or @article.comments.size > 0 -%>
 <div id="comments"><h4>Comments</h4> 
<% if @article.allow_comments? -%>
  <p class="postmetadata alt">
   <a href="#respond">Leave a response</a>
  </p>
<% end -%>
  <%= content_tag(:ol, render(:partial => "comment", :collection => @article.comments), :id => 'commentList', :class => 'comment-list') %>
  </div>

<p class="postmetadata alt">
  <small>
  <a href="<%= url_for :controller => 'xml', :action=>'feed', :type=>'article', :format => 'atom', :id => @article %>">Atom feed for this post</a>
  </small>
</p>
<% end -%>

<% if @article.allow_comments? -%>
  <%= render :partial => 'comment_box' %>
<% end -%>
