<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h page_title %></title>
  <%= page_header %>
  <link href="/images/theme/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <%= stylesheet_link_tag "/stylesheets/theme/gp" %>
  <%= stylesheet_link_tag "/stylesheets/theme/gpprint", :media => 'print' %>
  <%= stylesheet_link_tag "/stylesheets/theme/local" %>
</head>
<body>
    <div id="gradientBG"></div><div id="wrapper"><div id="inner"><div id="header">
          <%= link_to image_tag('theme/logo.png', :id => 'logo'), this_blog.base_url %>
          <h1 id="sitename"><%= link_to this_blog.blog_name, this_blog.base_url %></h1>
          <div id="subtitle"><%= this_blog.blog_subtitle %></div>
      </div>
       <div id="sidebar">
            <%= render_sidebars %>
            </div>


        <div id="main">
          <%= yield %>
          <%= javascript_tag "show_dates_as_local_time()" %>
        </div>

      <div id="footer">
        &copy; 2011 Cambridge University Gilbert &amp; Sullivan Society
      </div>
  </div>
</div>
</body>
</html>
